body {
    background-color: #D0A2F7
}
.h1 {
    text-align: center;
    .center {
        text-align: center ;
    }
}
.h1{
    text-align: center;
    .center {
        text-align: center ;
    }
}
